doctype html
html
  head
    title TODO node.js
    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../node_modules/popper.js/dist/popper.min.js
      include ../node_modules/bootstrap/dist/js/bootstrap.min.js
    style(type='text/css' rel='stylesheet')
      include ../node_modules/bootstrap/dist/css/bootstrap.min.css
  body.container
    block body