html
  body
    h1 Edit User

    form(method="POST" action="/users/" + user._id + "?_method=PUT")
      input#name.form-control(type='text' name='name' value=user.name)
      button(type='submit') Edit