extends layout.pug

block body
  div.row
    div.col-sm-12
      h1 Add new user

  div.row
    div.col-sm-12
      form(action='/users' method='post' )
        div.form-group
          label(for=name) Name:
          input#name.form-control(type='text' name='name' required)

        button(type='submit').btn Submit

  div.row
    div.col-sm-12
      a(href='/users') User List