extends layout.pug

block body
  h1 Edit User

  form(method="POST" action="/users/" + user._id + "?_method=PUT")
    input#name.form-control(type='text' name='name' value=user.name required)
    br
    button(type='submit') Edit

  br
  a(href='/users/' + user._id) User Detail
  br
  a(href='/users') Users List