extends layout.pug

block body
  div.row
    div.col-sm-12
      h1 Edit User

  div.row
    div.col-sm-12
      a(href='/users/' + user._id) User Detail

  div.row
    div.col-sm-12
      a(href='/users') Users List

  div.row
    div.col-sm-12
      form(method="POST" action="/users/" + user._id + "?_method=PUT")
        div.form-group
          label(for='name')
          input#name.form-control(type='text' name='name' value=user.name required)

        button(type='submit').btn Submit

