extends layout.pug

block body

  div.row
    div.col-sm-12
      h1 User Detail

  div.row
    div.col-sm-12
      a(href='/users') Users List

  div.container
    div.well.row
      div.col-sm-4 Name:
      div.col-sm-8 #{user.name}

  div.row
    div.col-sm-12
      div.pull-left
        include user_delete_form
      div.pull-right
        div.row
          div.col-sm-12
            a(href='/users/' + user._id + '/edit')
              button(type='button').btn.text-muted Edit